
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
nav {
  background-color: #25440c;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-content {
  display: flex;
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 26px;
}

header {
  background: url(images/header-pizza.jpg);
  height: 29.39453125vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.container {
  width: 95%;
  margin: auto;
}

.logo-nav {
  height: 100px;
}


.Item {
  margin: 15px;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  color: white;
}
.Item:hover{
  color: #b10002;
  opacity: 0.6;
}

.section-one {
  background-color: #f0f0e0;
  padding-bottom: 100px;
  padding-top: 70px;
}

.title-section {
  margin: 0;
  text-align: center;
  font-size: 42px;
  font-style: italic;
  color: #b10002;
  font-family: 'Lobster', cursive;
}

.paragraph {
display: flex;
justify-content: center;
padding-top: 50px;
}

.content {
  max-width: 30%;
  padding: 40px;
  border: 1px solid;
  min-height: 438px;
}

.image {
  transform: translate(-25%, 19%);
  max-height: 375px;
  box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
}

.paragraph-title {
  font-size: 65px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: bold;
  max-width: 67%;
}

.paragraph-text {
  font-size: 18px;
  line-height: 28px;
  max-width: 80%;
  text-align: justify;
  font-family: 'Open Sans Condensed', sans-serif;
}

main {
  padding-top: 90px;
  padding-bottom: 90px;
}

.cardapio-content {
  display: flex;
  justify-content: center;
}

.cardapio-content:nth-child(2) {
  padding-top: 60px;
}

.cardapio-item {
  margin: 15px;
  max-width: 20%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  border-radius: 7px;
  box-shadow: -2px 10px 23px -15px rgba(0, 0, 0, 1);
}

.cardapio-image {
  max-width: 40%;
  border-radius: 50%;
}

.footer {
  background-color:#b10002;
  padding: 90px 0 30px 0;
}

.tele-rede {
  /* background-color: yellow; */
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}

.telefones-contato {
 /* background-color: green; */
 display: flex;
 justify-content: center;
}

.redes-sociais-block {
  /* background-color: purple; */
}

.telefone {
  width: 32px;
  margin-right: 10px;
}
span {
  color: #f0f0e0;
  font-weight: bolder;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
span:last-child {
  padding-left: 40px;
}
.rede {
  margin: 10px;
  width: 32px;
}

i {
display: flex;
justify-content: center;
color: #f0f0e0;
font-size: 12px;
}

@media only screen and (min-width: 1440px) {
  .content {
    max-width: 40%;
  }
}

@media only screen and (max-width: 1200px) {
  .content {
    max-width: 50%;
  }
}

@media only screen and (max-width: 768px) {
 .paragraph {
   flex-direction: column;
   align-items: center;
 }
.image {
  transform: translate(0%, -25%);
}
.content {
  max-width: 80%;
}
.paragraph-title {
  max-width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.paragraph-text {
  margin: auto;
}
.section-one {
  padding-bottom: 0px;
}
.cardapio-content {
  flex-direction: column;
  align-items: center;
}
.cardapio-item {
  max-width: 60%;
  min-height: 200px;
}
.tele-rede {
  flex-direction: column;
  align-items: center;
}
}

@media only screen and (max-width: 640px) {
  .cardapio-item {
    max-width: 80%;
  }
}

@media only screen and (max-width: 480px) {
  .content{
    padding: 20px;
  }
  .image{
    max-width: 280px;
    transform: translate(0%, -13%);
  }
  .paragraph-text {
    max-width: 100%;
  }
  .paragraph-title {
    font-size: 40px;
    margin-bottom: 20%;
  }
  .cardapio-item {
    min-height: 150px;
  }
span {
  font-size: 16px;
}
.telefone,.rede{
  width: 24px;
}

.section-one{
  padding-top: 0px;
}

@media only screen and (max-width: 345px) {
  .image{
    max-width: 220px;
    transform: translate(0%, -8%);
  }
  span:last-child{
    padding-left: 10px;
  }

}